.about {
    padding: 20px;

    .about-title {
        font-size: 50px;
        color: #1f4df9;
        padding: 10px;
    }

    .about-intro {
        font-size: 18px;        
        color: #000000;
        padding: 10px;
    }
}