.header {
    width: 100%;
    background-color: yellow;

    .header-logo {
        .header-logo-image {
            width: 25%;
            position: absolute;
        }
    }

    .header-navbar {
        text-align: center;
    }
}