.store {
    background-color: #ffffff;
    height: 100%;
    
    .store-navigation {
        padding: 10px;

        .store-navigation-panel {
            background: none;
            box-shadow: none;
            border-bottom: 1px solid #565656;

            .store-navigation-panel-summary {
                font-size: 22px;
                color: #0425a2;
            }

            .store-navigation-panel-details {
                font-size: 16px;
                color: #4c3838;
            }

            .store-navigation-panel-priceslider {
                width: 100%;
            }

            .store-navigation-panel-colourpicker {
                display: flex;
                flex-direction: column;

                .store-navigation-panel-colourpicker-colour {
                    margin-left: 5px;
                    padding: 0px 10px;
                    border: 1px solid #000000;
                }
            }

            .store-navigation-panel-sizepicker {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .store-items-itemcontainer {
        position: relative;
    }
}