.product {
    .product-link {
        padding: 12px;
        font-size: 20px;

        .product-link-home {
            text-decoration: none;
            color: #9c9c9c;

            transition: color 100ms cubic-bezier(1, 0, 1, 1.12);

            &:hover, &:active {
                color: #0005d2;
            }
        }
    }

    .product-image {
        padding: 20px;
        text-align: center;
    }

    .product-details {
        padding: 20px;

        .product-details-name {
            font-size: 40px;
            color: #e27c8e;
            padding-bottom: 20px;
        }

        .product-details-refNo {
            font-size: 16px;
            color: #737373;
        }

        .product-details-description {
            font-size: 20px;
            margin: 30px 0px;
        }

        .product-details-price {
            font-size: 24px;
            color: #ffa4ef;
        }

        .product-details-addtocart {
            text-align: center;
            padding: 20px;

            .product-details-addtocart-button {
                background-color: #fab4ff;
                width: 50%;
                font-size: 24px;
                font-family: 'Share';
                color: #ffffff;

                transition: background-color 0.5s cubic-bezier(0.04, 0.66, 0.03, 1.06);            

                &:hover, &:active {
                    background-color: #c12fcc;
                }
            }
        }
    }
}